

/*Text colors*/
$heading-color: #fff;
$white-color: #fff;
$black-color: #101315;
$button-color: #dd783f;
$h2-color: #2e2e2e;
$category-link: #768088;
$dark-color: #333333;
$detail-color: #999;

/*label colors*/
$label-photography: #a872b7;
$label-relaxion: #4aaec2;
$label-nature: #e6c728;
$label-vacation: #d25f7c;
$label-travel: #49ae5c;
