.form{
    margin: 0 0 15px;
}
.field-label{
    font-weight: 400;
}
label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.input{
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4284;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
.contact-field{
    height: 50px;
    padding-bottom: 9px;
    border-radius: 2px;
}
.contact-field.message{
    height: 150px;
}
